* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    background-color: rgb(60, 60, 60);
    margin: 0 auto;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.background-image-container {
    background-color: aqua;
    flex: 1;
    background-image: url('./ocean-wave.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.form-body {
    background-color: rgb(250, 250, 250);
    flex: 2;
}

.caption {
    position: absolute;
    bottom: 0px;
    left: 128px;
    color: white;
    font-size: 1rem;
}

.image-banner {
    background-color: #00000021;
    height: 160px;
    /* min-width: 100px; */
    position: relative;
    top: 172px;
}

.image-banner img {
    height: 132px;
    width: 100px;
    position: relative;
    top: 10px;
    left: 126px;

}